body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#d6dae4;
}

.app{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:rgb(14, 11, 11);
}

input,select{
  width:320px;
  padding:14px;
  margin:12px;
  border-radius:8px;
  border:none;
}

button{
  padding:15px 30px;
  background:#68d5d7;
  color:rgb(0, 0, 0);
  border:none;
  border-radius:8px;
  cursor:pointer;
}